/* fonts */
@font-face {
	font-display: swap;
	font-family: 'GeneralSans-Extralight';
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/GeneralSans-Extralight.woff2') format('woff2'),
		url('../fonts/GeneralSans-Extralight.woff') format('woff'),
		url('../fonts/GeneralSans-Extralight.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'GeneralSans-ExtralightItalic';
	font-style: italic;
	font-weight: 200;
	src: url('../fonts/GeneralSans-ExtralightItalic.woff2') format('woff2'),
		url('../fonts/GeneralSans-ExtralightItalic.woff') format('woff'),
		url('../fonts/GeneralSans-ExtralightItalic.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'GeneralSans-Light';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/GeneralSans-Light.woff2') format('woff2'),
		url('../fonts/GeneralSans-Light.woff') format('woff'),
		url('../fonts/GeneralSans-Light.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'GeneralSans-LightItalic';
	font-style: italic;
	font-weight: 300;
	src: url('../fonts/GeneralSans-LightItalic.woff2') format('woff2'),
		url('../fonts/GeneralSans-LightItalic.woff') format('woff'),
		url('../fonts/GeneralSans-LightItalic.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'GeneralSans-Regular';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/GeneralSans-Regular.woff2') format('woff2'),
		url('../fonts/GeneralSans-Regular.woff') format('woff'),
		url('../fonts/GeneralSans-Regular.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'GeneralSans-Italic';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/GeneralSans-Italic.woff2') format('woff2'),
		url('../fonts/GeneralSans-Italic.woff') format('woff'),
		url('../fonts/GeneralSans-Italic.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'GeneralSans-Medium';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/GeneralSans-Medium.woff2') format('woff2'),
		url('../fonts/GeneralSans-Medium.woff') format('woff'),
		url('../fonts/GeneralSans-Medium.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'GeneralSans-MediumItalic';
	font-style: italic;
	font-weight: 500;
	src: url('../fonts/GeneralSans-MediumItalic.woff2') format('woff2'),
		url('../fonts/GeneralSans-MediumItalic.woff') format('woff'),
		url('../fonts/GeneralSans-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'GeneralSans-Semibold';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/GeneralSans-Semibold.woff2') format('woff2'),
		url('../fonts/GeneralSans-Semibold.woff') format('woff'),
		url('../fonts/GeneralSans-Semibold.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'GeneralSans-SemiboldItalic';
	font-style: italic;
	font-weight: 600;
	src: url('../fonts/GeneralSans-SemiboldItalic.woff2') format('woff2'),
		url('../fonts/GeneralSans-SemiboldItalic.woff') format('woff'),
		url('../fonts/GeneralSans-SemiboldItalic.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'GeneralSans-Bold';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/GeneralSans-Bold.woff2') format('woff2'),
		url('../fonts/GeneralSans-Bold.woff') format('woff'),
		url('../fonts/GeneralSans-Bold.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'GeneralSans-BoldItalic';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/GeneralSans-BoldItalic.woff2') format('woff2'),
		url('../fonts/GeneralSans-BoldItalic.woff') format('woff'),
		url('../fonts/GeneralSans-BoldItalic.ttf') format('truetype');
}

/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* structure */
body {
	background: #ffffff;
	color: #6D7170;
	display: flex;
	font-family: 'GeneralSans-Medium', 'Inter', sans-serif;
	font-size: 16px;
	justify-content: center;
	line-height: 24px;
	padding: 32px 16px 32px 16px;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 96px;
	width: 640px;
}

main {
	display: flex;
	flex-direction: column;
	gap: 96px;
}

hr {
	border: 0;
	border-top: 1px dashed #EBEBEB;
	width: 100%;
}

.blink {
	animation: blink-animation 1s steps(1) infinite;
}

@keyframes blink-animation {
	50% {
		opacity: 0;
	}
}

/* typography */
h1 {
	color: #070B0E;
	font-size: 32px;
	line-height: 40px;
}

h2 {
	color: #070B0E;
	font-size: 16px;
	line-height: 24px;
}

h3 {
	color: #070B0E;
	font-size: 16px;
	line-height: 24px;
}

.callout {
	color: #070B0E;
	font-size: 24px;
	line-height: 32px;
}

.color-black {
	color: #070B0E;
}

.color-dark {
	color: #6D7170;
}

/* buttons */
.button-primary {
	background-color: #070B0E;
	border: none;
	border-radius: 16px;
	color: #ffffff;
	font-size: 16px;
	line-height: 24px;
	padding: 8px 16px 8px 16px;
	text-decoration: none;
	transition: background-color 0.3s ease;

}

.button-primary:hover {
	background-color: #25292C;
}

.button-secondary {
	background-color: #F7F7F7;
	border: none;
	border-radius: 16px;
	color: #070B0E;
	font-size: 16px;
	line-height: 24px;
	padding: 8px 16px 8px 16px;
	text-decoration: none;
	transition: background-color 0.3s ease;

}

.button-secondary:hover {
	background-color: #EBEBEB;
}

/* icons */
icon {
	height: auto;
	width: 24px;
}

/* nav */
nav {
	align-items: center;
	display: flex;
	gap: 16px;
	justify-content: space-between;
	width: 100%;
	/* Aligns items to left and right sides */
	/* Ensures the nav fills the available width */
}

.nav-left,
.nav-right {
	align-items: center;
	display: flex;
}

.nav-left {
	gap: 8px;
	justify-content: flex-start;
}

.nav-right {
	gap: 8px;
	justify-content: flex-end;
}

.nav-logo {
	height: auto;
	width: 114px;
}

.nav-indicator {
	background-color: #34FF63;
	border-radius: 50%;
	height: 8px;
	width: 8px;
}

.nav-indicator.online {
	background-color: #34FF63;
}

.nav-indicator.after-hours {
	background-color: #B4B4B4;
}

.nav-hour,
.nav-minute,
.nav-blink,
.nav-timezone {
	color: #6D7170;
}

/* hero */
#hero {
	display: flex;
	flex-direction: column;
	gap: 32px;
	text-align: center;
}

.hero-text {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.hero-ctas {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 8px;
	justify-content: center;
}

/* ventures */
#ventures {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.venture-card-active {
	background-color: #F7F7F7;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 16px;
	transition: background-color 0.3s ease, transform 0.2s ease;
}

.venture-card-active:hover {
	background-color: #EBEBEB;
	transform: scale(1.02);
}

.venture-card-link {
	color: inherit;

    text-decoration: none;
}

.venture-card-link a,
.venture-card-link a:hover, 
.venture-card-link a:focus,
.venture-card-link a:visited {
    text-decoration: none;
    color: inherit;
}

.venture-card-soon {
	background-color: #ffffff;
	border-radius: 16px;
	border: 1px solid #EBEBEB;
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 16px;
}

.venture-header {
	align-items: flex-start;
	display: flex;
	gap: 8px;
	justify-content: space-between;
}

.venture-logo {
	border-radius: 16px;
	height: auto;
	width: 48px;
}

.venture-tag {
	align-items: center;
	background-color: #25292C;
	border-radius: 16px;
	color: #ffffff;
	display: inline-flex;
	font-size: 12px;
	justify-content: center;
	line-height: 16px;
	padding: 4px 8px;
}

/* about */
#about {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.about-text {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.about-people {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 16px;
}

.about-person {
	border-radius: 50%;
	height: auto;
	transition: transform 0.2s ease;
	width: 64px;
}

.about-person:hover {
	transform: scale(1.08);
}

/* footer */
footer {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-top: 16px;
	width: 100%;
	/* Align items to the left and right sides */
	/* Ensure the footer fills the available width */
}

.footer-left,
.footer-right {
	align-items: center;
	display: flex;
}

.footer-left {
	gap: 16px;
	justify-content: center;
}

.footer-right {
	gap: 8px;
	justify-content: flex-end;
}

footer ul {
	display: flex;
	gap: 16px;
	list-style: none;
	margin: 0;
	padding: 0;
}

footer ul li {
	display: inline-block;
}

/* responsive */
@media (max-width: 480px) {
	body {
		padding: 16px;
	}

	nav {
		flex-direction: column;
		gap: 16px;
		justify-content: center;
	}

	footer {
		flex-direction: column;
		gap: 16px;
		justify-content: center;
	}
}